<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Result</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
    }

    header {
  display: flex;
 justify-content: space-between;
  background-color:rgb(20, 31, 90); 
  color: #fff;
  padding: 7px; 
  align-items: center;
}

header h1 {
  margin: 0;
}
 nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px; /* Adjust spacing between list items */
  
}

nav ul li.right-options {
  float: right;
}

nav ul li.right-options a {
  margin-left: 20px; /* Adjust spacing between right-aligned links */
  color: #ffffff;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  max-height: 60px; /* Adjust the height as needed */
  vertical-align: middle;
  border-radius: 50%;
}

.container {
  max-width: 800px;
  margin: 60px auto 0; /* Added margin to the top */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .result-item {
      padding: 20px;
      border-bottom: 1px solid #ddd;
    }

    .result-item:last-child {
      border-bottom: none;
    }

    .result-item p {
      margin: 5px 0;
    }

  </style>

</head>
<body>
    <header>
        <div class="logo"><a href="/"><img src="/images/logo.jpg" alt="Railway Booking Logo"></a></div>
        <nav>
          <ul>
            <li class="right-options">
                <a href="/book-page">Book Tickets</a>
                <!-- <a href="/login-page">Login</a> -->
                <a href="/profile">Profile</a>
                <a href="/help">Help</a>
              </li>
          </ul>
        </nav>
      </header>

  <div class="container">
    <h1>Search Result</h1>

    <% result1.forEach(function(item) { %>
      <div class="result-item">
        <p><strong>Train ID:</strong> <%= item.Train_id %></p>
        <p><strong>Train Name:</strong> <%= item.Train_name %></p>
        <p><strong>Departure Station ID:</strong> <%= item.Departure_station_id %></p>
        <p><strong>Arrival Station ID:</strong> <%= item.Arrival_station_id %></p>
        <p><strong>Departure Time:</strong> <%= item.Departure_time %></p>
        <p><strong>Arrival Time:</strong> <%= item.Arrival_time %></p>
        <p><strong>Total Seats:</strong> <%= item.Total_seats%></p>
        <p><strong>Fare: ₹</strong> <%= item.Fare%></p>
        <!-- Add other attributes as needed -->
      </div>
    <% }); %>
  </div>
</body>
</html>
